*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    
}
html,
body{
    background-color: #3B3C4E;
    height: 100%;
}
.infinite-logo{
    max-width: 120px;
    margin-left: 50px;
    margin-top: 50px;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.art{
    position: relative;
    height: 100%;
    width: 50%;
    background-image: url(img/img-nft-home.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #21222c;
}
.content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
form{
  
        text-align: left;
        width: 100%;
        margin-top: 20px;
        margin-left:60px;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        padding: 30px 0 0 60px;
        color:white;
}
.text-sign-in{
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 10px;
}
.input{
    padding: 10px 15px;
    padding-right: 80px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.103);
    transition: .3s;
   
}
.input:hover{
    background-color: white;
    box-shadow: 5px 5px 5px 2px #9c1a7144;
}
.input:focus{
    background-color: white;
    box-shadow: 5px 5px 5px 2px #9c1a7144;
}
.name-input{
    font-size: 13px;
    font-weight: 300;
}
.checkbox{
    display: flex;
    justify-content: left;
    align-items: center;
}
.Remember-text{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 300;
}
.account{
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 300;
    color: white;
    text-align: right;
}
   

.or{
   text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 15px;
}
.btn-login{
    padding: 14px 32px;
    border-radius:8px;
    background: linear-gradient(to right, #40F2FC, #FF26B6);
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0px 60px;
    margin-top: 10px;
    transition: .5s;
    border: none;
    
    
}
.btn-login:hover{
    margin: 10px 25px 0 25px;
    border-radius: 32px;
    
}
.btn-google{
    display: flex;
    align-items: center;
    color: black;
    padding: 12px 10px;
    border-radius: 16px;
    text-decoration: none;
    background-color: white;
   justify-content: center;
   margin-top: 15px;
   transition: .3s;
   z-index: 4;
}
.btn-google:hover{
   
    box-shadow: 1px 8px 1px #21222c;
}
.google-icon{
    margin-left: 10px;
    max-width: 24px;
}
.social-media{
    z-index: 4;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24292e5b;
    border-radius: 8px;
    width:53px;
    height: 53px;
    margin-left: 15px;
    transition: .4s;
}
.icon:hover{
    transform: scale(1.1);
    background-color: #24292e;
}
.icon.sl{
    margin-left: 0;
}
.icon img{
    width: 60%;
}
.mask-icon{
    max-width: 120px;
}
@media (min-width:2000px){
    .art{
        background-size: cover;
    }
}
@media (max-width:1024px){
    form{
        transform: scale(0.7);
    }
    form{
  
        text-align: left;
        width: 100%;
        margin-top: 0px;
        margin-left:0px;
        padding: 0;
}
}
@media(max-width:768px){
    form{
        text-align: center;
    }
}
@media (max-width:425px){
    .content{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .art{
        display: none;
    }
    .content{
        width: 100%;
        
    }
}